@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap');

// Fonts
$text-font: 'Montserrat', sans-serif;
$title-font: 'Roboto Slab', serif;

// Colors
$pale-grey: #f5f6fa;
$black-three: #121212;
$black: #000000;
$true-white: #ffffff;
$white: #fafafa;
$black: #121212;
$blue: #0290ff;
$pale-blue: #4386bf;
$grey: #888888;
$light-grey: #c4c4c4;
$border-grey: #e8e8e8;
