@import '../shared/variables';

.app-container {
  height: 100%;
  .body-container {
    min-height: 100%;
    width: 100%;
    padding: 37px 100px;
    box-sizing: border-box;
    background-color: $pale-grey;
  }
}
