@import '../shared/variables';

.book-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px 27px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: solid 1px $border-grey;
  background-color: $true-white;

  .book-left-container {
    .book-category {
      margin: 0;
      margin-bottom: 2px;
      color: $black-three;
      font-family: $text-font;
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      opacity: 0.5;
    }

    .book-title {
      margin: 0;
      margin-top: 2px;
      font-family: $title-font;
      font-size: 22px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.2px;
      color: $black-three;
    }

    .book-author {
      margin: 0;
      margin-bottom: 9px;
      font-family: $title-font;
      font-weight: 300;
      font-size: 14px;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $pale-blue;
    }

    .book-actions {
      cursor: pointer;
      margin: 0;
      padding: 0;
      margin-top: 9px;
      height: 24px;
      display: flex;
      flex-direction: row;
      list-style: none;

      li {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        span {
          margin-right: 15px;
          text-align: center;
          font-family: $title-font;
          font-weight: 300;
          font-size: 14px;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: $pale-blue;
        }
      }

      li:first-of-type + li {
        span {
          padding: 0 15px;
          border: solid 1px $border-grey;
          border-top: none;
          border-bottom: none;
        }
      }
    }
  }

  .book-right-container {
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    .percentage-container {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .percentage-circle-container {
        height: 68px;
        width: 68px;
        margin: 0 22px;

        .progress-ring {
          height: 100%;
          width: 100%;

          .progress-ring-circle {
            stroke: $blue;
            stroke-dasharray: 150.796447372 150.796447372;
            stroke-dashoffset: 45.2389342117;
            transform: rotate(-90deg);
            transform-origin: 50% 50%;
          }

          .ring-circle {
            stroke: $border-grey;
          }
        }
      }

      .percentage {
        margin: 0;
        font-size: 32px;
        font-family: $text-font;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $black-three;
      }

      .percentage-label {
        opacity: 0.5;
        margin: 0;
        font-size: 14px;
        font-family: $text-font;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $black-three;
      }
    }

    .divider {
      content: "";
      height: 70px;
      margin: 0 69px;
      border-right: 1px solid $border-grey;
    }

    .info-container {
      .chapter-label {
        margin: 0;
        opacity: 0.5;
        font-family: $title-font;
        font-size: 13px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $black-three;
      }

      .chapter {
        margin: 7px 0 23px;
        font-family: $title-font;
        font-size: 16px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.4px;
        color: $black-three;
      }

      .update-progress-button {
        padding: 7px 25px;
        border-radius: 3px;
        background-color: $blue;
        font-family: $title-font;
        font-size: 13px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        color: $true-white;
      }
    }
  }
}
