// Importing partials
@import './components/App';
@import './components/Book';
@import './components/BooksList';
@import './components/BooksForm';

html {
  height: 100%;
  body {
    height: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    #root {
      height: 100%;
    }
  }
}
